# Build output
bin/
obj/

# Visual Studio files
.vs/
*.sln.docstates

# NuGet packages
*.nupkg
**/packages/

# User-specific files
*.user
*.userprefs
*.suo
*.sln.ide
*.sln.ide-shm
*.sln.ide-wal
*.sln.dotsettings

# Ignore Resharper files
_ReSharper*/
*.resharper
*.resharper.user

# Ignore build output
[Bb]uild/

# Entity Framework
**/Migrations/*.cs
**/Migrations/*.resx
**/Migrations/*.Designer.cs
**/ModelSnapshot.cs
**/Migrations/

*_EFModelSnapshot.cs
*_EFModelSnapshot.Designer.cs
*_EFModelSnapshotModelBuilder.cs
*.edmx
*.tt

# Others
.idea/
/.vscode/
/Thumbs.db
.DS_Store
*.[Cc]ache